body{
  font-family: fantasy;
}

.left {
  position: absolute;
  float: left;
  border-right-style: double;
  border-right-color: #2E2421;
  background: url('../img/outside.jpg') no-repeat;
}
.right {
  float: right;
  background-color: #fafafa;
}

.jumbotron {
  background-color: #fafafa;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 12em;
}
h2 {
  text-align: center !important;
  margin-bottom: 30px;
  color: #2E2421;
}
p {
  text-align: center;
  font-size: 16px !important;
  color: #2E2421;
}

.react-resizable {

}

.react-resizable-handle {
  position: absolute;
  width: 60px;
  height: 1000px;
  top: 0;
  vertical-align: middle;
  right: 0;
  background: url('../images/shoji-handle.png');
  background-position: right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: col-resize;
}
